body {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    background-color: #000000;
}

.mynavbar {
    background-color: #373A3C;
}
.icon {
    width: 50px;
}

.navcolor {
    color: white;
}


.carta {
    background-color: #17A2B8;
    color: white;
}

.my-card{
    height: 140px;
    width: auto;
}
.cardpadd {
    padding: 20px;

}

.color-container {
    background-color: black
}


.trabajos {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding-top: 73.3px;
}
.my-icon {
    background-color: #17A2B8;
    text-align: center;
    color: white;
    font-size: 20px;
}


.texto-center {
    color: white;
}
.acerca-de-mi {
    padding: 25px;
}


/* FORMULARIO */
.formulario {
    background-color: black;
    padding-bottom: 29px;
}
.texto-forml {
    color: white;
}

.texto-formulario {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.texto-input {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.boton {
    text-align: left;
    color: white;
}

/* colocar clases tanto en p como en div funcionarán igual. */


/*FOOTER*/

.footer {
    padding-top: 24px;
    padding-bottom: 22px;
    background-color: #17A2B8;
}

.texto-footer {
    text-align: center;
    margin: 0;
    color: white;
    font-size: 30px;
}

.i-color-posicion {
    text-align: center;
    color: white;
}
/*
esta clase sirve para cada icono por separado. Si tengo 5 iconos a los 5 debo agregarle esta clase
.icono-size {
    font-size: 30px;
} */
/* este selector (anidacion de clases) va a buscar todos las etiquetas "i" dentro de las etiquetas con clase
"i-color-posicion" y le aplicara los estilos. */
.i-color-posicion i {
    font-size: 30px;
    padding: 5px;
}